*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#addTask{
    text-decoration: none;
    border: none;
    background-color: azure;
    color: black;
    margin-left: 1000px;
    cursor: pointer;
}
#form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
#form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: solid 1px grey;
    background: rgb(225, 222, 222);

}
.popup-form{
    /* visibility: hidden; */
    position: fixed;
    margin: 10px 100px 30px 220px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 33px;
    padding: 13px;
    gap: 37px;
}
.form-container .cancel {
    background-color: red;
  }
  
img{
    width: 150px;
    height: 120px;
}
i:hover{
    cursor: pointer;
}
.todo-list, .blocked-list, .doing-list, .done-list{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid slategrey;
    border-radius: 7px;
    padding: 7px;
}
.todo-listbox, .doing-listbox, .done-listbox, .blocked-listbox{
    width: 300px;
}
.todo-list{
    background:rgb(8, 153, 201) ;
}
.doing-list{
    background: rgb(249, 249, 41);
}
.done-list{
    background: rgb(3, 194, 111);
}
.blocked-list{
    background: red;
}
.card{
    box-sizing: border-box;
    border: 1px solid slategrey;
    border-radius: 7px;
    padding: 7px;
    margin-top: 13px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.line{
    width: 200px;
    height: 2px;
    background-color: grey;
}
